#introduction_label {
  font-size: 18px;
}

#credentials_needed_label {
  font-size: 16px;
}

#credentials_listbox > row > *:not(separator) {
  margin: 7px;
}

.transparent {
  background-color: transparent;
}

.lesson_row {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 5px;
	padding-right: 5px;
}

.lesson_row image {
	margin-right: 7px;
}

.lesson_row > box > box {
	margin-left: 15px
}

.badge {
  background-color: #1a5fb4;
  border-radius: 100px;
  padding: 2px 6px 2px 6px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
